openapi: 3.0.0
info:
  title: Media Service API
  description: API for generating presigned upload URLs for media files.
  version: 1.0.0
servers:
  - url: https://api.cohub.click/media
    description: Development server
  - url: https://api.talvio.co/media
    description: Production server
paths:
  /presign:
    post:
      summary: Generate a presigned upload URL
      description: |
        Generates a presigned S3 URL for uploading a media file. Returns both the upload URL and the public URL for accessing the file after upload.
      operationId: presign
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignRequest'
      responses:
        '200':
          description: Presigned URL generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          description: Internal server error

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  responses:
    BadRequest:
      description: Bad Request
    Unauthorized:
      description: Unauthorized

  schemas:
    PresignRequest:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: Name of the file to upload (including extension)
          example: example.jpg
        type:
          type: string
          description: MIME type of the file
          enum:
            - image/jpeg
            - image/png
            - image/webp
            - application/pdf
          example: image/jpeg
        path:
          type: string
          description: Optional path/prefix for the file in the bucket
          example: user-uploads/2024/06
    PresignResponse:
      type: object
      properties:
        uploadUrl:
          type: string
          description: Presigned S3 URL for uploading the file
          example: https://talvio-content.s3.amazonaws.com/example.jpg?X-Amz-Algorithm=...
        publicUrl:
          type: string
          description: Public URL to access the uploaded file
          example: https://media.talvio.co/user-uploads/2024/06/example.jpg
