openapi: 3.0.0
info:
  title: Media Service API
  description: API for managing media files including presigned upload URLs and media records querying.
  version: 1.0.0
servers:
  - url: https://api.cohub.click/media
    description: Development server
  - url: https://api.talvio.co/media
    description: Production server
paths:
  /presign/{userId}:
    post:
      summary: Generate a presigned upload URL
      description: |
        Generates a presigned S3 URL for uploading a media file for a specific user.
        Returns both the upload URL and the public URL for accessing the file after upload.
        The file will be stored in the user's directory structure.
      operationId: presign
      security:
        - ApiKeyAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: Unique identifier for the user
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignRequest'
      responses:
        '200':
          description: Presigned URL generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /records/{userId}:
    get:
      summary: Query user media records
      description: |
        Retrieves media records for a specific user with pagination support.
        Returns a list of valid media items associated with the user.
      operationId: queryUserMedia
      security:
        - BearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          description: Unique identifier for the user
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          required: false
          description: Number of items to return (max 200)
          schema:
            type: string
            enum: ["50", "100", "200"]
            default: "50"
            example: "50"
        - name: nextToken
          in: query
          required: false
          description: Token for pagination to get the next page of results
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Media records retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaRecordsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: API key for presign operations
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for records query operations

  responses:
    BadRequest:
      description: Bad Request - Invalid request parameters or validation failed
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: boolean
                example: true
              message:
                type: string
                example: "Event object failed validation"
    Unauthorized:
      description: Unauthorized - Invalid or missing authentication
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: boolean
                example: true
              message:
                type: string
                example: "Unauthorized access"
    InternalServerError:
      description: Internal Server Error - Something went wrong on the server
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: boolean
                example: true
              message:
                type: string
                example: "Internal Server Error"

  schemas:
    PresignRequest:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: Name of the file to upload (including extension)
          example: "my-resume-2024.pdf"
        type:
          type: string
          description: MIME type of the file
          enum:
            - image/jpeg
            - image/png
            - image/webp
            - application/pdf
          example: "application/pdf"
        path:
          type: string
          description: Optional path/prefix for the file in the bucket (e.g., 'resume', 'profile', 'documents')
          example: "resume"
    PresignResponse:
      type: object
      properties:
        uploadUrl:
          type: string
          description: Presigned S3 URL for uploading the file (valid for 1 hour)
          example: "https://talvio-content.s3.amazonaws.com/resume/user-123/my-resume-2024.pdf?X-Amz-Algorithm=..."
        publicUrl:
          type: string
          description: Public URL to access the uploaded file
          example: "https://media.talvio.co/resume/user-123/my-resume-2024.pdf"

    MediaItem:
      type: object
      properties:
        key:
          type: string
          description: Unique identifier for the media item (S3 object key)
          example: "resume/user-123/my-resume-2024.pdf"
        userId:
          type: string
          description: User ID associated with the media item
          example: "user-123"
        name:
          type: string
          description: Original filename of the media item
          example: "my-resume-2024.pdf"
        type:
          type: string
          description: MIME type of the media item
          example: "application/pdf"
        publicUrl:
          type: string
          description: Public URL to access the media item
          example: "https://media.talvio.co/resume/user-123/my-resume-2024.pdf"
        status:
          type: string
          description: Status of the media item
          enum:
            - pending
            - uploaded
          example: "uploaded"
        expires:
          type: string
          format: date-time
          description: Expiration date for invalid items (ISO 8601 format)
          example: "2024-12-31T23:59:59.000Z"
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp (ISO 8601 format)
          example: "2024-01-15T10:30:00.000Z"
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp (ISO 8601 format)
          example: "2024-01-15T10:30:00.000Z"

    MediaItemQuery:
      type: object
      properties:
        key:
          type: string
          description: Unique identifier for the media item (S3 object key)
          example: "resume/user-123/my-resume-2024.pdf"
        userId:
          type: string
          description: User ID associated with the media item
          format: uuid
        name:
          type: string
          description: Original filename of the media item
          example: "my-resume-2024.pdf"
        type:
          type: string
          description: MIME type of the media item
          example: "application/pdf"
        publicUrl:
          type: string
          description: Public URL to access the media item
          example: "https://media.talvio.co/resume/user-123/my-resume-2024.pdf"
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp (ISO 8601 format)
          example: "2024-01-15T10:30:00.000Z"


    MediaRecordsResponse:
      type: object
      properties:
        items:
          type: array
          description: List of media items for the user
          items:
            $ref: '#/components/schemas/MediaItemQuery'
        nextToken:
          type: string
          description: Token for pagination to get the next page of results (null if no more pages)
          nullable: true
          example: "eyJ1c2VySWQiOiJ1c2VyLTEyMyIsImtleSI6Imxhc3QtaXRlbS1rZXkifQ=="
